{% extends 'base.html' %}
{% block content %}

	<div class="container"> 
	   <div class="row">
	   	<div class="col-sm-6">
		   <div class="details__host">
				<div>
					<img src="/images/server.png" width="250" height="250"  />
				</div>
				<div class="infos">
				<table class="table mt-5" role="main">
        			<tbody>
						<td><h3>Hostname: </h3></td><td><h3>{{hostname}}</h3></td>
						<tr>
							<td>Connection:</td>
							<td>{{uri_conn}}</td>
						</tr>
						<tr>
							<td>Hypervisor:</td>
							<td>{{hypervisor}}</td>
						</tr>
						<tr>
							<td>Memory:</td>
							<td>{{host_memory}}</td>
						</tr>
						<tr>
							<td>Logical CPUs:</td>
							<td>{{logical_cpu}}</td>
						</tr>
						<tr>
							<td>Processor:</td>
							<td>{{model_cpu}}</td>
						</tr>
						<tr>
							<td>Architecture:</td>
							<td>{{host_arch}}</td>
						</tr>
					</tbody>
				</table>				
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<h4>Performance</h4>
			<p>cpu usage</p>
			<canvas id="cpu-chart" width="800" height="450"></canvas>
			<p>memory usage</p>
			<canvas id="mem-chart" width="800" height="450"></canvas>
			
		</div>
	   	</div>
	</div>
{% endblock %}
{% block extra_scripts %}				
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>			
<script>
//////////////////////

function hostusage() {
	$.getJSON('http://localhost:8000/hostusage', function (data) {
		new Chart(document.getElementById("mem-chart"), {
					type: 'line',
					data: {
						labels: data["timer"],
						datasets: [{ 
							data: data["mem"],
							label: "memory",
							borderColor: "#3e95cd",
							fill: false
						}
						]
					},
					options: {
						title: {
						display: true
						
						}
					}
					});
		//////////////////
		new Chart(document.getElementById("cpu-chart"), {
					type: 'line',
					data: {
						labels: data["timer"],
						datasets: [{ 
							data: data["cpu"],
							label: "cpu",
							borderColor: "#3e95cd",
							fill: false
						}
						]
					},
					options: {
						title: {
						display: true
					
						}
					}
					});
	});
}
hostusage()

$(function () {
	window.setInterval('hostusage()', 30000);
});
        
</script>
{% endblock extra_scripts %}